<header>
  <a href="/"><img style="height: 100px" id="logo" src="/img/Peacock.png"></a>
</header>
<h1> Wellcome <i><%= @current_user.info.name_ent %></i> </h1>

<a href="/info" style="color:blue" >Enterprise Information.</a>

<br>
<% if @current_user %>
<p style="color:green" >This is your Reputation.</p>

<a><%= @current_user.reputation.ocupation %></a><br>
Average: <br>
<a><%= current_user.reputation.description %></a>
  
<%end%>
<br>

<div id = "employees">
  <% if @current_user %>
  <p>These are your Employees.</p>
  <% rel_ary = @current_user.relation%>
  <% rel_ary.each do |relations|%>
  <% u = User.find(relations.user_id) %>
  <% u_inf = u.infoper%>
  <a href="/employee/<%= relations.id%>/info"><%= u_inf.name_per %> <%= u_inf.lname_per%></a><br>
    <%end%>
  <%end%>
</div>
<br>  

  <form id="Accion" action="/add_employee" method="post">
  <input id="employee" type="text" name="pk_employee" placeholder="Peacock id or email"><br>
  <input id="job" type="text" name="job" placeholder="Job or Ocupation"><br>
  <input id="add_employee_btn" type="submit" value="Add Employee!" class="btn"> <br>
  </form>

  <form id="logout" action="/logout" method="get">
    <br><input type="submit" value="Logout" class="btn"> <br>
  </form>