<header>
  <a href="/"><img style="height: 100px" id="logo" src="/img/Peacock.png"></a>
</header>
<h1> Wellcome <i><%= @current_user.info.name_ent %></i> </h1>

<a href="/info" style="color:blue" >Enterprise Information.</a>

<br>
<% if @current_user %>
<p style="color:green" >This is your Reputation.</p>

<a><%= @current_user.reputation.ocupation %></a><br>
Average: <br>
<a><%= current_user.reputation.description %></a>
  
<%end%>
<br>

<% if @current_user %>
<p>These are your Employees.</p>
<% rel_ary = @current_user.relation%>
<% rel_ary.each do |employee|%>
<% u = User.find(employee.user_id) %>
<% u_inf = u.infoper%>
<a href="/employee/<%= rel_ary.id%>/info"><%= u_inf.name_per %> <%= u_inf.lname_per%></a><br>
  <%end%>
<%end%>
<br>  

  <form id="Accion" action="/add_employee" method="post">
  <input type="text" name="pk_employee" placeholder="Peacock id or email"><br>
  <input type="text" name="job" placeholder="Job or Ocupation"><br>
  <input type="submit" value="Add Employee!" class="btn"> <br>
  </form>

  <form id="logout" action="/logout" method="get">
    <br><input type="submit" value="Logout" class="btn"> <br>
  </form>