<header>
  <a href="/"><img style="height: 100px" id="logo" src="/img/Peacock.png"></a>
</header>
<% info = @current_user.infoper%>
<h1> Wellcome <%= info.name_per %> <%= info.lname_per %></h1>

<% if @current_user %>
<% @current_user.reputation.map do |reputation|%>
<b>Ocupation: </b><a href="/reputation/<%=reputation.id%>/reputes"><%= reputation.ocupation %></a><br>
<b>Average: </b><c><%= reputation.average %></c><br>
<b>Description: </b><c><%= reputation.description %></c><br>
  <%end%>
<%end%>
<br>

  <button id="add_ocupation_btn" class="btn">Add Ocupation!</button><br>
 
  <form id="add_reputation" style="display:none" action="/add_reputation" method="post">
  <input id="reputation_k" type="text" name="reputation_kind" placeholder="Add Reputation"><br>
  <textarea id="reputation_desc" rows="4" cols="50" name="description" placeholder="Description"></textarea>
  <input type="submit" value="Do it!" class="btn"> <br>
  </form>

  <form id="logout" action="/logout" method="get">
    <br><input type="submit" value="Logout" class="btn"> <br>
  </form>